/* TODO: Convert me to LESS! */

tt input {
  font-family: monospace;
  padding: 0 !important;
}

#terminal-input {
  background-color: rgba(0,0,0,0);
  border: none;
  box-shadow: none;
}

td {
  border-top-width: 0px !important;
}