<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <script src="jslibs/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <title><%= title %></title>
  </head>

  <body>
    <div class='row-fluid'>
      <div class='span10 offset1 pagination-centered'>
        <h1><%= title %></h1>
        <% if (locals.error) { %>
          <div class='alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error %>
          </div>
        <% } %>
        <h2>Rooms</h2>
        <form action='admin' method="POST">
          <table class="table table-bordered">
            <% if (rooms.length) { %>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
              <% rooms.forEach(function(room) { %>
                <tr>
                  <td><%= room.description %></td>
                  <td><%= room.detailed_description %></td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="2">There are no rooms, only an infinite void.</td>
              </tr>
            <% } %>
            <tr>
              <td><input type="text" name="name" placeholder="Name"></td>
              <td><input type="text" name="description" placeholder="Description"></td>
            </tr>
          </table>
        </form>
        <h2>Tchotchke Primogenitors</h2>
        <form action="admin" method="POST">
          <table class="table table-bordered">
            <% if (tchotchkes.length) { %>
              <tr>
                <th>Name</th>
                <th>Flags</th>
                <th>Description</th>
                <th>Detailed Description</th>
                <th>Actions</th>
              </tr>
              <% tchotchkes.forEach(function(tchotchke) { %>
                <tr>
                  <td><%= tchotchke.name %></td>
                  <td><%= tchotchke.flags %></td>
                  <td><%= tchotchke.description %></td>
                  <td><%= tchotchke.detailed_description %></td>
                  <td>
                    <input type="submit" class="btn btn-primary" name="action" value="Edit">
                    <input type="submit" class="btn btn-danger" name="action" value="Delete">
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="4">There are no tchotchkes in the world. None. No tchotchkes anywhere. All gone.</td>
              </tr>
            <% } %>
            <tr>
              <td><input type="text" name="name" placeholder="Name"></td>
              <td><input type="text" name="flags" placeholder="Flags"></td>
              <td><input type="text" name="description" placeholder="Description"></td>
              <td><input type="text" name="detailed_description" placeholder="Detailed Description"></td>
              <td><input type="submit" class="btn btn-success" name="action" value="Add"></td>
            </tr>
          </table>
        </form>
        <h2>Tchotchke Simulacra</h2>
        <form action="admin" method="POST">
          <table class="table table-bordered">
            <% if (tchotchke_simulacra.length) { %>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Quantity</th>
              </tr>
              <% tchotchke_simulacra.forEach(function(tchotchke) { %>
                <tr>
                  <td><%= tchotchke.name %></td>
                  <td><%= tchotchke.location %></td>
                  <td><%= tchotchke.count %></td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="3">Fortunately, all tchotchkes remain Platonic ideals, and do not sully themselves with instantiated simulacra.</td>
              </tr>
            <% } %>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>