<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/style/override.css">
    <script src="jslibs/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <title><%= title %></title>
  </head>

  <body>
    <div class='row-fluid'>
      <div class='span4 offset4 pagination-centered'>
        <h1><%= title %></h1>
        <% if (locals.error) { %>
          <div class='alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error %>
          </div>
        <% } %>
        <form action='login' method='POST'>
          <fieldset>
            <legend>New User</legend>
            <input type='text' name='new_username' placeholder='Username' /><br>
            <input type='password' name='new_password' placeholder='Password' /><br>
            <input type='password' name='new_password_confirm' placeholder='Confirm Password' /><br>
            <button type='submit' name='login_type' value='new' class='btn'>Sign Up</button>
          </fieldset>
        </form>
        <br><br><br>
        <form action='login' method='POST'>
          <fieldset>
            <legend>Returning User</legend>
            <input type='text' name='returning_username' placeholder='Username' /><br>
            <input type='password' name='returning_password' placeholder='Password' /><br>
            <button type='submit' name='login_type' value='returning' class='btn'>Log In</button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>