<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/style/override.css">
    <script src="jslibs/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/terminal.js"></script>
    <title><%= title %></title>
  </head>

  <body>
    <div class='row-fluid'>
      <div class='span10 offset1'>
        <h1><%= title %></h1>
        <table class='table table-bordered table-condensed'>
          <tr class='info hidden'><td><tt></tt></td></tr>
          <tr id='last' class='info'><td><tt>
            &gt; <input id='terminal-input' class="span11" type='text' autofocus />
          </tt></td></tr>
        </table>
      </div>
      <div class='span1'>
        <br><br><br>
        <a href='#faqModal' role='button' class='btn' data-toggle='modal'>FAQ</a>
      </div>
    </div>

    <div id="faqModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="faqModalLabel">FAQ</h3>
      </div>
      <div class="modal-body">
        <p>Remember that <%= title %> is 'case polite'. This is like being 'case sensitive' except that <%= title %> won't take it personally.</p>
        <h4>Features</h4>
        <ul>
          <li>Canadians</li>
          <li>Over 5,600 commands correctly recognized as invalid!</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </body>
</html>